REAL_DATABASE_URL=postgresql+asyncpg://app_user:change_me@localhost:5432/app_db
TEST_DATABASE_URL=postgresql+asyncpg://test_user:change_me@localhost:5433/test_db

POSTGRES_USER=app_user
POSTGRES_PASSWORD=change_me
POSTGRES_DB=app_db

POSTGRES_TEST_USER=test_user
POSTGRES_TEST_PASSWORD=change_me
POSTGRES_TEST_DB=test_db

ACCESS_TOKEN_EXPIRE_MINUTES=30
SECRET_KEY=your_secret_key_here
